[package]
name = "defaultmap"
version = "0.2.0"
description = "Provides a HashMap with an automatic default for missing keys."
authors = ["Jelte Fennema <github-tech@jeltef.nl>"]
license = "MIT"
repository = "https://github.com/JelteF/defaultmap"
documentation = "https://docs.rs/defaultmap"
readme = "README.md"

keywords = ["dict", "defaultdict", "defaulthashmap", "hashmap", "default"]

categories = ["development-tools", "data-structures"]

include = [
    "src/**/*.rs",
    "Cargo.toml",
    "LICENSE",
    "README.md",
]


[badges]
travis-ci = { repository = "JelteF/defaultmap" }
appveyor = { repository = "JelteF/defaultmap" }
